.header {
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    justify-content: space-between;
    align-items: center;
    padding: 92px 50px 96px;
    font-weight: 400;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    padding-top: 3px;
    color: #000;
    font-style: normal;
    line-height: normal;
}

.header__links-list-item {
    stroke: #000;
    list-style: circle;
    stroke-width: 1px;
}

.header__link {
    text-underline-position: under;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header_logo {
    width: 148px;
    height: 105px;
}

.header__logo_image {
    width: 148px;
    height: 105px;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 5px;
    margin-left: auto;
    font-style: normal;
    line-height: 24.3px;
    text-underline-position: under;
}

.cover {
    max-width: 1100px;
    background: center / cover no-repeat url(../images/lotus-flower.png);
    padding: 165px 50px 50px 50px;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.aligned-text {
    z-index: 1; 
    font-family: inherit;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.letter-spacing_extended {
    letter-spacing: 60px;
}

.aligned-text_left {
    line-height: 115%;
    text-align: left;
}

.aligned-text_center {
    line-height: 100%;
    text-align: center;
}

.aligned-text_right {
    line-height: 100%;
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 134px;
}

.cover__description-phrase {
    z-index: 1;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    margin-right: 77px;
}

.cover_button {
    background: none;
    z-index: 1;
    font-family: inherit;
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #FFF;
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.lots {
    padding: 179px 24px 146px 24px;
}

.lots__heading {
    margin: 0 0 27px 40px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
    list-style: none;
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 563px;
    padding: 48px 40px;
    background-size: cover;
    background-position: center;
    position: relative;

}

.card__title {
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-thickness: 0.8px;
    text-underline-offset: 3px;
    text-transform: uppercase;
    z-index: 1;
}

.card__text {
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    z-index: 1;
}

.card_film {
    background: url(../images/card-lot-01.jpg);
}

.card_book {
    background: url(../images/card-lot-02.jpg);
}

.card_painting {
    background: url(../images/card-lot-03.jpg);
}

.lots_link_below {
    margin-left: 40px;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
    text-transform: lowercase;
}

.about {
    display: flex;
    gap: 72px;
    padding: 0 24px 179px 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 35px 0 320px 47px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    margin: 133px 0 0 0;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 101px;
}

.about__cover {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 91px;
    font-weight: 400;
    font-size: 18px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    font-style: normal;
    line-height: 24.3px;
    text-underline-position: under;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    width: auto;
}

.footer__links-list {
    text-align: center;
    list-style: none;
}

.footer__link {
    text-underline-position: under;
}

.footer__link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 10px 48px;
    width: 33.3%;
    list-style: none;
    flex-wrap: wrap;
}

.footer__social-logo {
    width: 48px;
    height: 48px;
}
